<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fertilab.talint</title>
    <script src="/js/dependencies/node_modules/jquery/dist/jquery.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/components/dropdown.css">
    <link rel="stylesheet" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="/js/dependencies/node_modules/remodal/dist/remodal.css"></link>
    <link rel="stylesheet" href="/styles/css/remodal-default-theme.css"></link>
    <link rel="stylesheet" type="text/css" href="/styles/css/discover.css">
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/semantic/dist/components/dropdown.js"></script>


    <script src="/js/dependencies/sails.io.js" ></script>
    <script src="/js/dependencies/form2js.js"></script>
    <script src="/js/dependencies/jsonForm.js"></script>
    <script src="/js/dependencies/crud.js" ></script>
    <script src="/js/dependencies/node_modules/underscore/underscore-min.js" ></script>
    <script src="/js/dependencies/node_modules/remodal/dist/remodal.js"></script>

    <script src="/js/dependencies/node_modules/react/dist/react-with-addons.js" ></script>
    <script src="/js/dependencies/node_modules/react/dist/JSXTransformer.js" ></script> 
    <script src="/js/dependencies/reactable.js" ></script>

    <script src="/js/skillDiff.js"></script>
    <script src="/js/util.js"></script>
    <script type="text/jsx" src="/js/widgets.js" ></script>
    <script type="text/jsx" src="/js/discover.js" ></script>
    <script type="text/jsx" src="/js/recursiveMenu.js" ></script>
    <script type="text/jsx" src="/js/skillDisplay.js" ></script>
    <script type="text/jsx" src="/js/userTable.js" ></script>

    <script>
    function setActiveMainMenuTab(id){
      el = document.getElementById(id);
      addHTMLClass(el, 'active');
    }

    function addHTMLClass(el, className){
      currentClass = el.getAttribute('class');
      el.setAttribute("class", currentClass + " " + className);
    }</script>

    <script>
      activeUserId={{req.user.id}}
      emptySkilltree = {"Skills":{"Human Resources":[{"id":85,"name":"Human Resources","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Human Resources","85"]},{"id":86,"name":"Recruitment & Talent Acquisition","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Human Resources","86"]},{"id":87,"name":"Compensation Program Management","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Human Resources","87"]}],"Sales, Marketing & PR":[{"id":88,"name":"Account Management","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Sales, Marketing & PR","88"]},{"id":89,"name":"Customer Relationship Management (CRM)","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Sales, Marketing & PR","89"]},{"id":90,"name":"Advertising","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Sales, Marketing & PR","90"]},{"id":91,"name":"Public Relations","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Sales, Marketing & PR","91"]},{"id":92,"name":"Sales","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Sales, Marketing & PR","92"]},{"id":93,"name":"Marketing","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Sales, Marketing & PR","93"]},{"id":94,"name":"Web Analytics","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Sales, Marketing & PR","94"]}],"Accounting & Finance":[{"id":95,"name":"Book Keeping","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Accounting & Finance","95"]},{"id":96,"name":"Accounting","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Accounting & Finance","96"]},{"id":97,"name":"Finance","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Accounting & Finance","97"]},{"id":98,"name":"Public Accounting","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Accounting & Finance","98"]}],"Business Administration & Management":[{"id":99,"name":"Business Process Mapping","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Business Administration & Management","99"]},{"id":100,"name":"Enterprise Resource Planning (ERP)","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Business Administration & Management","100"]},{"id":101,"name":"Business Administration","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Business Administration & Management","101"]},{"id":102,"name":"Personnel Management","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Business Administration & Management","102"]},{"id":103,"name":"Program Management","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Business Administration & Management","103"]},{"id":104,"name":"Project Management","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Business Administration & Management","104"]},{"id":105,"name":"Purchasing","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Business Administration & Management","105"]}],"Energy":[{"id":106,"name":"Energy Management","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Energy","106"]},{"id":107,"name":"Energy Program Management","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","Energy","107"]}],"IT, Computer Sciences & Software Engineering":[{"id":108,"name":"Web Development","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","108"]},{"id":109,"name":"Software Project Management","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","109"]},{"id":110,"name":"Databases (General)","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","110"]},{"id":111,"name":"Schemas (General)","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","111"]},{"id":112,"name":"Indexes (General)","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","112"]},{"id":113,"name":"Information Security","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","113"]},{"id":114,"name":"Mobile Application Development","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","114"]},{"id":115,"name":"Systems Administration","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","115"]},{"id":116,"name":"Software Quality Assurance (QA)","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","116"]},{"id":117,"name":"Enterprise Architecture","rank":0,"min":0,"max":10,"unit":"/10","path":["Skills","IT, Computer Sciences & Software Engineering","117"]}]},"Languages":[{"id":0,"name":"English","rank":0,"unit":"/10","path":["Languages","0"]},{"id":1,"name":"Spanish","rank":0,"unit":"/10","path":["Languages","1"]},{"id":2,"name":"French","rank":0,"unit":"/10","path":["Languages","2"]},{"id":3,"name":"German","rank":0,"unit":"/10","path":["Languages","3"]},{"id":4,"name":"Italian","rank":0,"unit":"/10","path":["Languages","4"]},{"id":5,"name":"Portugese","rank":0,"unit":"/10","path":["Languages","5"]},{"id":6,"name":"Arabic","rank":0,"unit":"/10","path":["Languages","6"]},{"id":7,"name":"Chinese (Mandarin)","rank":0,"unit":"/10","path":["Languages","7"]},{"id":8,"name":"Chinese (Cantonese)","rank":0,"unit":"/10","path":["Languages","8"]},{"id":9,"name":"Japanese","rank":0,"unit":"/10","path":["Languages","9"]},{"id":10,"name":"Thai","rank":0,"unit":"/10","path":["Languages","10"]},{"id":11,"name":"Vietnamese","rank":0,"unit":"/10","path":["Languages","11"]},{"id":12,"name":"Swedish","rank":0,"unit":"/10","path":["Languages","12"]},{"id":13,"name":"Finnish","rank":0,"unit":"/10","path":["Languages","13"]},{"id":14,"name":"Danish","rank":0,"unit":"/10","path":["Languages","14"]},{"id":15,"name":"Dutch","rank":0,"unit":"/10","path":["Languages","15"]},{"id":16,"name":"Greek","rank":0,"unit":"/10","path":["Languages","16"]},{"id":17,"name":"Russian","rank":0,"unit":"/10","path":["Languages","17"]},{"id":18,"name":"Hindi","rank":0,"unit":"/10","path":["Languages","18"]},{"id":19,"name":"Korean","rank":0,"unit":"/10","path":["Languages","19"]},{"id":20,"name":"Urdu","rank":0,"unit":"/10","path":["Languages","20"]},{"id":21,"name":"Persian","rank":0,"unit":"/10","path":["Languages","21"]},{"id":22,"name":"Turkish","rank":0,"unit":"/10","path":["Languages","22"]},{"id":23,"name":"Polish","rank":0,"unit":"/10","path":["Languages","23"]},{"id":24,"name":"Romanian","rank":0,"unit":"/10","path":["Languages","24"]},{"id":25,"name":"Serbo-Croatian","rank":0,"unit":"/10","path":["Languages","25"]},{"id":26,"name":"Swahili","rank":0,"unit":"/10","path":["Languages","26"]},{"id":27,"name":"Nepali","rank":0,"unit":"/10","path":["Languages","27"]},{"id":28,"name":"Czech","rank":0,"unit":"/10","path":["Languages","28"]},{"id":29,"name":"Pashto","rank":0,"unit":"/10","path":["Languages","29"]},{"id":30,"name":"Kurdish","rank":0,"unit":"/10","path":["Languages","30"]},{"id":31,"name":"Hungarian","rank":0,"unit":"/10","path":["Languages","31"]}],"Industries":[{"id":32,"name":"Accounting & Finance","rank":0,"unit":"yrs.","path":["Industries","32"]},{"id":33,"name":"Agriculture","rank":0,"unit":"yrs.","path":["Industries","33"]},{"id":34,"name":"Aviation or Aerospace","rank":0,"unit":"yrs.","path":["Industries","34"]},{"id":35,"name":"Banking","rank":0,"unit":"yrs.","path":["Industries","35"]},{"id":36,"name":"Biomedical","rank":0,"unit":"yrs.","path":["Industries","36"]},{"id":37,"name":"Biotechnology","rank":0,"unit":"yrs.","path":["Industries","37"]},{"id":38,"name":"Chemical","rank":0,"unit":"yrs.","path":["Industries","38"]},{"id":39,"name":"Civil Engineering","rank":0,"unit":"yrs.","path":["Industries","39"]},{"id":40,"name":"Clothing & Accessories","rank":0,"unit":"yrs.","path":["Industries","40"]},{"id":41,"name":"Communications","rank":0,"unit":"yrs.","path":["Industries","41"]},{"id":42,"name":"Computer Hardware","rank":0,"unit":"yrs.","path":["Industries","42"]},{"id":43,"name":"Constrution","rank":0,"unit":"yrs.","path":["Industries","43"]},{"id":44,"name":"Consulting","rank":0,"unit":"yrs.","path":["Industries","44"]},{"id":45,"name":"Consumer Electronics","rank":0,"unit":"yrs.","path":["Industries","45"]},{"id":46,"name":"Education (K-12)","rank":0,"unit":"yrs.","path":["Industries","46"]},{"id":47,"name":"Energy","rank":0,"unit":"yrs.","path":["Industries","47"]},{"id":48,"name":"Entertainment","rank":0,"unit":"yrs.","path":["Industries","48"]},{"id":49,"name":"Food & Beverage Service","rank":0,"unit":"yrs.","path":["Industries","49"]},{"id":50,"name":"Gaming and Digital Entertainment","rank":0,"unit":"yrs.","path":["Industries","50"]},{"id":51,"name":"Government","rank":0,"unit":"yrs.","path":["Industries","51"]},{"id":52,"name":"Health Care","rank":0,"unit":"yrs.","path":["Industries","52"]},{"id":53,"name":"Health Insurance","rank":0,"unit":"yrs.","path":["Industries","53"]},{"id":54,"name":"Hospitality","rank":0,"unit":"yrs.","path":["Industries","54"]},{"id":55,"name":"Industrial Engineering","rank":0,"unit":"yrs.","path":["Industries","55"]},{"id":56,"name":"Insurance","rank":0,"unit":"yrs.","path":["Industries","56"]},{"id":57,"name":"IT","rank":0,"unit":"yrs.","path":["Industries","57"]},{"id":58,"name":"Law enforcement","rank":0,"unit":"yrs.","path":["Industries","58"]},{"id":59,"name":"Legal","rank":0,"unit":"yrs.","path":["Industries","59"]},{"id":60,"name":"Management Consulting","rank":0,"unit":"yrs.","path":["Industries","60"]},{"id":61,"name":"Manufacturing","rank":0,"unit":"yrs.","path":["Industries","61"]},{"id":62,"name":"Mechanical Engineering","rank":0,"unit":"yrs.","path":["Industries","62"]},{"id":63,"name":"Media","rank":0,"unit":"yrs.","path":["Industries","63"]},{"id":64,"name":"Mental Health","rank":0,"unit":"yrs.","path":["Industries","64"]},{"id":65,"name":"Military","rank":0,"unit":"yrs.","path":["Industries","65"]},{"id":66,"name":"Real Estate","rank":0,"unit":"yrs.","path":["Industries","66"]},{"id":67,"name":"Restaurant","rank":0,"unit":"yrs.","path":["Industries","67"]},{"id":68,"name":"Shipping","rank":0,"unit":"yrs.","path":["Industries","68"]},{"id":69,"name":"Software","rank":0,"unit":"yrs.","path":["Industries","69"]},{"id":70,"name":"Sports & Outdoors","rank":0,"unit":"yrs.","path":["Industries","70"]},{"id":71,"name":"Telecommunications","rank":0,"unit":"yrs.","path":["Industries","71"]},{"id":72,"name":"Transportation","rank":0,"unit":"yrs.","path":["Industries","72"]},{"id":73,"name":"Utilities","rank":0,"unit":"yrs.","path":["Industries","73"]},{"id":74,"name":"Vetinary","rank":0,"unit":"yrs.","path":["Industries","74"]}],"Education":[{"id":75,"name":"GED","rank":0,"min":0,"max":1,"unit":"","path":["Education","75"]},{"id":76,"name":"High School","rank":0,"min":0,"max":1,"unit":"","path":["Education","76"]},{"id":77,"name":"Associates","rank":0,"min":0,"max":1,"unit":"","path":["Education","77"]},{"id":78,"name":"Bachelors","rank":0,"min":0,"max":1,"unit":"","path":["Education","78"]},{"id":79,"name":"PhD","rank":0,"min":0,"max":1,"unit":"","path":["Education","79"]},{"id":80,"name":"Masters","rank":0,"min":0,"max":1,"unit":"","path":["Education","80"]},{"id":81,"name":"MD","rank":0,"min":0,"max":1,"unit":"","path":["Education","81"]}],"Training":[{"id":82,"name":"ID8","rank":0,"min":0,"max":1,"unit":"","path":["Training","82"]},{"id":83,"name":"RAIN","rank":0,"min":0,"max":1,"unit":"","path":["Training","83"]},{"id":84,"name":"Other accellerator","rank":0,"min":0,"max":1,"unit":"","path":["Training","84"]}]}
    </script>

    <link rel="stylesheet" href="/styles/css/login.css">
    <link rel="stylesheet" href="/styles/css/table.css">

    <style>
      h1,h1,h3,h4,h5,h6,p,span,button{
        font-family:"Open sans" !important;
      }
      #fertilab .item{
        color:white;
      }
      #fertilab .main-menu .item.active{
        color:black;
      }
    </style>

</head>

<body id="fertilab">
<div class="ui container segments">
  {{> links }} 
{{!--   <div class="ui segment head">
     <div class="ui grid">
        <div class="one column row">
            <div class="left floated column">
                <div class="logo">
                    <a href="/user/">
                      <h1 class="name inline">TalInt</h1>
                    </a>
                    <span class="slogan computer only">
                        discover true potential
                    </span>     
                </div>

                <div class="ui text menu">
                  <div class="ui right dropdown item">
                    <img class="ui avatar image" src="https://richardwiseman.files.wordpress.com/2012/09/50417f7a-04e7-4d8a-ba82-cc2023c7b15e.jpeg">
                   {{req.user.firstname}} {{req.user.lastname}}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">
                        <a href="/user/{{req.user.id}}">
                          profile
                        </a>
                      </div>
                      <div class="item">
                        <a href="/logout">
                          logout
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="right floated column">
                <div class="ui tabular menu main-menu">
                  <a class="item active">
                    search
                  </a>
                  <a class="item">
                    favorites
                  </a>
                  <a class="item">
                    skills
                  </a>
                  <a class="item">
                    invites
                  </a>
                </div>
            </div>
     </div>
     </div>

  </div> --}}
  <div class="ui segment">
    <div class="ui grid">

     

      {{{body}}}
    </div>
  </div>
  
</div>
<script>
    // semantic ui modules init

    $('.ui.dropdown').dropdown();
    $('[data-content]').popup();
</script>
<script>
  //google analytics

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68682399-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
        
</html>