hi, {{firstName}} {{lastName}}

you've been invited to join the {{company}} talint. <br>

<a href="http://45.55.219.109:1337/register/{{code}}">
	click on this link
</a>
, to signup or navigate to this url:<br>

{{baseUrl}}/register/{{code}}
