
<div class="ui segment head" style="background:#232D28">
     <div class="ui grid">
        <div class="one column row">
            <div class="left floated column">
                <div class="logo">
                    <a href="/user/">
                      {{!-- <h1 class="name inline">TalInt</h1> --}}

                      <img src="http://fertilabthinkubator.com/wp-content/themes/reverie-master/img/fertilab-logo-light.png" height="80px" alt="">
                      <img src="/images/fertilab.png" alt="" style="position: relative;top: -10px;">
                    </a>
                    {{!-- <span class="slogan computer only">
                        discover true potential
                    </span> --}}     
                </div>

                <div class="ui text menu">
                  <div class="ui right dropdown item">
                    {{!-- <img class="ui avatar image" src="/images/user.png" alt="">  --}}
                    {{#if req.user.firstname}}
                      {{req.user.firstname}} {{req.user.lastname}}
                    {{else}}
                      user
                    {{/if}}
                   
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">
                        <a href="/user/{{req.user.id}}">
                          profile
                        </a>
                      </div>
                      <div class="item">
                        <a href="/logout">
                          logout
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="right floated column">
                <div class="ui tabular menu main-menu">
                  <a href="https://docs.google.com/forms/d/1I4W5dzmvu3Sn1I4qfPJ3GNOPlsfrPVst-iKHADE3GTo/viewform" class="item">
                    feedback
                  </a>
                  <a class="item" id="search" href="/user">search</a>
                  {{!-- <a class="item" href="/user/{{req.user.id}}/loadSearches">load searches</a> --}}
                  <a class="item" id='favorites' href="/user/{{req.user.id}}/favorites">favorites</a>
                  {{#equal req.session.role "admin"}}
                   {{!-- <a class="item" id="skills" href="/skills">skills</a> --}}
                   <a class="item" id="invites" href="/invites">invites</a>
                  {{/equal}}
                </div>


            </div>
     </div>
     </div>

  </div>

