
<div class="ui segment head">
     <div class="ui grid">
        <div class="one column row">
            <div class="left floated column">
                <div class="logo">
                    <a href="/user/">
                      <h1 class="name inline">TalInt</h1>
                    </a>
                    <span class="slogan computer only">
                        discover true potential
                    </span>     
                </div>

                <div class="ui text menu">
                  <div class="ui right dropdown item">
                    <img class="ui avatar image" src="https://richardwiseman.files.wordpress.com/2012/09/50417f7a-04e7-4d8a-ba82-cc2023c7b15e.jpeg">
                   {{req.user.firstname}} {{req.user.lastname}}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">
                        <a href="/user/{{req.user.id}}">
                          profile
                        </a>
                      </div>
                      <div class="item">
                        <a href="/logout">
                          logout
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="right floated column">
                <div class="ui tabular menu main-menu">
                  <a class="item" id="search" href="/user">search</a>
                  {{!-- <a class="item" href="/user/{{req.user.id}}/loadSearches">load searches</a> --}}
                  <a class="item" id='favorites' href="/user/{{req.user.id}}/favorites">favorites</a>
                  {{#equal req.session.role "admin"}}
                   <a class="item" id="skills" href="/skills">skills</a>
                   <a class="item" id="invites" href="/invites">invites</a>
                  {{/equal}}
                </div>


            </div>
     </div>
     </div>

  </div>

