<h1>users:</h1>

<div id="users">
	<input type="text" class="search" placeholder="search">
	<table border="1">
		<thead>
			<tr>
				<th class="sort" data-sort="name">name</th>
				<th class="sort" data-sort="email">name</th>
				<th class="sort" data-sort="location">location</th>
				<th class="sort" data-sort="availability">availability</th>
			</tr>
		</thead>
		<tbody class="list">
			{{#each users}}
			 <tr>
			 	<td class="name">
			 		<a href="user/{{id}}">{{firstname}} {{lastname}}</a>
			 	</td>
			 	<td class="email">
			 		<a href="user/{{id}}">{{email}}</a>
			 	</td>
			 	<td>
			 		{{location}}
			 	</td>
			 	<td>
			 		{{availability}}/5
			 	</td>
			 </tr>
			{{/each}}
		</tbody>
	</table>
</div>

