<div class="block-white">

	<small class="fyi" >last sync: 9pm Aug, 35 records updated</small>
	<br>
	<h2>Search:</h2>

	<script>

		window.userSkills = {};

		window.useLocalStorage = true;

		function decodeHtml(html) {
		    var txt = document.createElement("textarea");
		    txt.innerHTML = html;
		    return txt.value;
		}
		
		
	</script>
	<script src="/js/skillTree.js" ></script>

	<br>
	<div id="discover"></div>

	<div id="users">
		<table border="1">
			<thead>
				<tr>
					<th class="sort" data-sort="name">name</th>
					<th class="sort" data-sort="email">email</th>
					<th class="sort" data-sort="location">location</th>
					<th class="sort" data-sort="availability">availability</th>
					<th class="sort" data-sort="match">
						match
					</th>
				</tr>
			</thead>
			<tbody class="list">
				{{#each users}}
					 <tr id="{{id}}">
					 	<td class="name">
					 		<a href="user/{{id}}">{{firstname}} {{lastname}}</a>
					 		<script>		
					 			userSkills[{{id}}] = arrayToMapObj(leaves(eval(decodeHtml("{{fake}}"))));
					 		</script>
					 	</td>
					 	<td class="email">
					 		<a href="user/{{id}}">{{email}}</a>
					 	</td>
					 	<td class="location">
					 		{{#if location}}
					 			{{location}}
					 		{{else}}
					 			
					 		{{/if}}
					 	</td>
					 	<td class="availability"> 
					 		{{#if availability}}
					 			{{availability}}/5
					 		{{else}}
					 			
					 		{{/if}}
					 	</td>
					 	<td class="match">
							<span>100</span>
					 	</td>
					 </tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

<script type="text/jsx">
	React.render(
		<App />,
		document.getElementById('app')
	);
</script>