<a href="/invites">back</a><br><br>
<form action="invites:update:{{id}}" id="updateInvites">
	

	<label for="firstname">firstname</label> 
	<input type="text" name="firstname" value="{{firstname}}">

	<label for="lastname">lastname</label> 
	<input type="text" name="lastname" value="{{lastname}}">

	<label for="email">email</label> 
	<input type="text" name="email" value="{{email}}">

	<br>

	<label for="status">status</label> 
	{{status}} <br><br>

	<input type="submit" value="save">
</form>
<hr>

<button onclick="sendInvite({{id}})">send</button>
<button onclick="cancelInvite({{id}});">cancel</button>




<script>
	updateInvites = new jsonForm("updateInvites", function(data){
		var Invites = new crud("invites");
		Invites.update({{id}}, data);
	});

	sendInvite = function(id){
		window.location.href = "/invites/" + id + "/send";
	}

	cancelInvite = function(id){
		window.location.href = "/invites/" + id + "/cancel";
	}
</script>



